body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  
}
h1{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
header h1 {
  font-size: 28px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
}

.file-upload-container {
    padding: 2rem;
    margin: 100px auto;
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 8px;
    width: 50%;
}

.file-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 14px;
}

.file-upload-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.file-upload-label {
  font-size: 16px;
  color: white;
}

.file-upload-select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  width: 150px;
}

.upload-button {
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.upload-button:hover {
  background-color: #c0392b;
}

.upload-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.status-message {
  margin-top: 10px;
  font-size: 14px;
  color: #e74c3c;
  font-weight: bold;
}
